<% content_for :custom_javascript do %>
    <%= javascript_include_tag 'date', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'calendar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'calendar_booking', 'data-turbolinks-track' => true %>

<% end %>

<div id="navegador" class="navegador">

</div>

<div id="calendario">
  <h2><%= I18n.t('views.calendar.month_config') %></h2>

  <div class="calendario">

    <TABLE BORDER="1">
    </TABLE>
  </div>

  <ul class="legend">
    <li><span class="no-disponible">No disponible</span></li>
    <li><span class="disponible">Disponible</span></li>
    <li><span class="mireserva">Mi reserva</span></li>
    <li><span class="pagada">Pagada</span></li>
    <li><span class="reservada">Reservada</span></li>
  </ul>

</div>

<div id="booking_selector">

  <h2><%= I18n.t('views.booking_calendar.select_bookings') %></h2>

  <div id="days_table" class="month">
    <H3><%= I18n.t('views.calendar.month_days') %></H3>
    <TABLE BORDER="1">
    </TABLE>
  </div>

  <div class="selector-actions">
    <button class="button-secondary pure-button" onClick="seleccionarFinesSemana()"><%= I18n.t('views.calendar.weekends') %></button>
    <button class="button-secondary pure-button" onClick="seleccionarLaborables()"><%= I18n.t('views.calendar.workingdays')%></button>
    <button class="button-secondary pure-button" onClick="seleccionarTodos()"><%= I18n.t('views.calendar.alldays')%></button>
    <button class="button-secondary pure-button" onclick="cleanSelection()"><%= I18n.t('views.calendar.clean')%></button>
  </div>

  <div id="horas" class="calendario">
    <H3><%= I18n.t('views.calendar.day_hours') %></H3>

    <TABLE BORDER="1">
      <TR>
        <% (0..23).each do |hora| %>
            <TH colspan="4"><%= hora %></TH>
        <% end %>
      </TR>
      <TR>
        <% (1..96).each do |time|  %>
            <% if (time - 1) % 4 == 0 && time != 1 %>
                <TD class="initHourCell"></TD>
            <% else %>
                <TD></TD>
            <% end %>
        <% end %>
      </TR>
    </TABLE>
  </div>


  <div class="booking-actions">
    <%= label_tag(:booking_name, I18n.translate('views.booking_calendar.name') + ':') %>
    <%= text_field_tag(:booking_name, '', size: 15) %>

    <%= label_tag(:license, I18n.translate('views.booking_calendar.license') + ':') %>
    <%= text_field_tag(:license, (current_user.license unless current_user.license.blank?), size: 8) %>

    <%= label_tag(:phone, I18n.translate('views.booking_calendar.phone') + ':') %>
    <%= text_field_tag(:phone, (current_user.phone unless current_user.phone.blank?), size: 10) %>

    <button class="button-success pure-button" onclick="saveBookings('<%= @carpark.id %>', '<%= current_user.id %>')">
      <i class="fa fa-floppy-o"></i> <%= I18n.t('views.calendar.save_booking') %>
    </button>
  </div>
</div>

</br>
<a class="pure-button" href="<%= carpark_path %>"><i class="fa fa-eye fa-3x"></i> <%= I18n.t('text.general.show') %></a>
<a class="pure-button" href="<%= carparks_path%>"><i class="fa fa-reply fa-3x"></i> <%= I18n.t('text.general.back') %></a>

<script>
    $( document ).ready(function() {
        console.log( "Calendar bookings ready!" );
        onInit();
        refreshCalendar('<%= carpark_path %>', '<%= current_user.id %>')
    });
</script>
